
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Bilbo+Swash+Caps&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Sofia&display=swap');

:root{
    --primary-color: #2b012c;
    --secondary-color: #f3c5ff;
    --background-color: #fefedf;
    --accent-color: #00c9a7;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: "Sansita", sans-serif;
    background-color: var(--background-color);
}


header{
    background-color: var(--primary-color);
    display: flex;
    
}

.header-c{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    margin: 0 auto;
    flex: 1 1 auto;
    max-width: 1200px;

}

#logo{
    width: 80px;
    flex-shrink: 0;
}

.nav{
    list-style: none;
    display: flex;
    gap: 18px;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.5rem;
}


.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.762),rgba(0, 0, 0, 0.343)), url(images/hero.jpg) no-repeat center / cover;
    color: var(--background-color);
    height: 100vh;
    width: 100%;
}
.hero-container{
    height: 100%;
    width: 90%;
    display: flex;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.info > h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info > h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.info > p{
    font-size: 1.2rem;
    max-width: 60%;
}

.potion-container{
    margin-top: 10px;
    padding: 20px;

}

.potion-container img{
    width: 200px;
    border: 3px solid var(--background-color);
    border-radius: 15px;
}
.potion-container h2{
    text-align: center;
    margin: 20px;
    font-size: 2rem;
}

.potion-list{
    display: flex;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 16px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--primary-color);
    background-color: #f6eef0;

}

.card h3{
    font-size: 1.5rem;
}
.card p{
    font-size: 1.2 rem;

}

button{
    padding: 10px;
    border: var(--background-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}

